@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*please do not read or review my code. it works, and that's what matters.*/

html {
	background-color: #fff8dc;
}

body {
	margin: 0px;
	padding: 0px;
}

/*navbar*/

.nav {
	overflow: hidden;
	display: inline;
	float: left;
	background-color: #52712b;
    width: 1350px;
    height: 80px;
    position:fixed;
	margin: 0px;
}

#navitem {
	list-style-type: none;
	float: right;
	color: #fff8dc; 
	font-size: 25px;
	display: flex; 
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding-top: 25px;
	padding-right: 120px;
}

#navitem:link {
	color: #fff8dc; 
    text-decoration: none;
}

#navitem:hover {
	text-decoration: underline;
}

#navitem:visited, #navitem:active {
    color: #f1d930;
}

#logo {
	list-style-type: none;
	margin: 0;
   	display: inline;
   	float: left;
}

/*navbar double duty*/

.nav2 {
	overflow: hidden;
	display: inline;
	float: left;
	background-color: #52712b;
    width: 1350px;
    height: 80px;
    position:fixed;
	margin: 0px;
}

#navitem2, #navitem3 {
	list-style-type: none;
	float: right;
	color: #fff8dc; 
	font-size: 25px;
	display: flex; 
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding-top: 25px;
}

#navitem2 {
	padding-right: 120px;
}

#navitem3{
	padding-right: 50px;
}

#navitem2:link, #navitem3:link {
	color: #fff8dc; 
    text-decoration: none;
}

#navitem2:hover, #navitem3:hover {
	text-decoration: underline;
}

#navitem2:visited, #navitem2:active, #navitem3:visited, #navitem3:active {
    color: #f1d930;
}

#logo2 {
	list-style-type: none;
	margin: 0;
   	display: inline;
   	float: left;
}

/*headerimage*/

#headerim {
	padding-top: 20px;
}

/*works body*/

#sectiontitle {
	padding-left: 525px;
}

#sectiontitle1 {
	padding-left: 390px;
}

#projectt {
	color: #52712b;
}

#workdes {
	color: #1e151b;
}

#descrip { 
	padding: 10px;
}

#workdes {
    color: #1e151b;
}

/*about; dress up*/
#pop {
    background-color: #f4f1ec;
    height: 100%;
}

#ABC {
    height: 100%;
  }

body {
	margin: 0px;
	background-position: center;
}

#title {
	font-size: 75px;
	text-align: center;
	margin: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 30px;
	font-weight: 700;
	color: #52712b;
}

#me-container {
	overflow: hidden;
	position: relative;
	width: 500px;
	height: 300px;
	margin: 0 auto;
}

#selection-container {
	position: relative;
	text-align: center;
	top: 10px;
	padding: 10px;
}

.outfit-selection {
	cursor: pointer;
	height: 100px;
	margin: 10px;
}

.outfit-selection:hover {
	opacity: 0.6;
}

#body {
	position: absolute;
	height: 300px;
	top: 5px;
	left: 110px;
}

#body:hover, .outfit:hover, .outfit-selection:hover {
	-webkit-transform: rotate(5deg);
}

.outfit {
	/*z-index: 10;*/
	position: absolute;
	height: 300px;
	top: 5px;
	left: 110px;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

#o1 {
	position: absolute;
	height: 300px;
	top: 5px;
	left: 110px;
}

#o2 {
	position: absolute;
	height: 300px;
	top: 5px;
	left: 110px;
}

#o3 {
	position: absolute;
	height: 300px;
	top: 5px;
	left: 110px;
}

#o4 {
	position: absolute;
	height: 300px;
	top: 5px;
	left: 110px;
}

#o2text {
	color: #52712b;
	font-size: 30px;
	padding-left: 580px;
}

#o1text, #o3text {
	color: #52712b;
	font-size: 30px;
	padding-left: 550px;
}

#o4text {
	color: #52712b;
	font-size: 30px;
	padding-left: 560px;
}

#bodytext {
	color: #1e151b;
	font-size: 16px;
	padding-left: 325px;
	padding-top: 15px;
	padding-bottom: 25px;
}

#o4body {
	color: #1e151b;
	font-size: 16px;
	line-height: 25px;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 25px;
	padding-bottom: 50px;
}

#gmresume {
	color: #52712b;
}

#gmresume:link {
	color: #52712b; 
    text-decoration: none;
}

#gmresume:hover {
	text-decoration: underline;
}

#gmresume:visited, #gmresume:active {
    color: #52712b;
}


#o1body, #o2body, #o3body {
	color: #1e151b;
	font-size: 16px;
	line-height: 25px;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 25px;
	padding-bottom: 50px;
}

.button {
	position: absolute;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #f4f1ec;
	background: #9abd57;
	padding: 10px;
	letter-spacing: 3px;
	text-align: center;
	transition: 0.3s;
}

.button:hover {
	cursor: pointer;
	background:#9abd57;
	transform: rotate(-5deg);
}

#strip-button {
	right: 20%;
	bottom: 40%;

}

/*index body*/

#abme1, #ABC {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#ab1title, #projectt {
	color: #9abd57;
}

#ab1ab, #workdes {
	color: #0e1609;
}

#project-unit {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: flex-start;
}

#descrip {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#summ {
	padding-top: 10px;
}

#img-container {
	margin: 60px;
}

.gamephoto {
	height: 175px;
	width: 250px;
}

.gamephoto1 {
	height: 150px;
	width: 150px;
}

.gamephoto2 {
	height: 275px;
	width: 275px;
}

.gamephoto3{
	height: 175px;
	width: 275px;
}

.gamephoto4{
	height: 175px;
	width: 275px;
}

#abc{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 10px;
}

#projectunit {
	height: 300px;
	width: 1200px;
	color: #0e1609;
	display:flex;
	flex-direction: row;
	align-items: flex-start;
}

/*
#title1 {
	color: #52712b;
	font-size: 20px;
}
*/

#summ {
	padding-bottom: 10px;
}

#comingsoon {
	color: #9abd57;
}

#readmore {
	color: #9abd57;
	text-decoration: none;
}

#readmore:link {
    text-decoration: none;
	color: #9abd57;
}

#readmore:visited {
	color: #52712b;
	text-decoration: none;
}

#readmore:hover {
	color: #52712b;
	text-decoration: underline;
}

#readmore:active {
    color: #52712b;
	text-decoration: none;
}

/*footer*/

.footer {
    background-color: #9abd57;
    width: 1350px;
    height: 80px;
    left:0px;
    bottom:0px;
}

#contactinfo, #contactinfo2 {
	color: #fff8dc;
    padding-left: 20px;
	list-style-type: none;
	display: inline;
	float: right;
	font-size: 20px;
	margin: 5px;
	padding-top: 25px;
}

#contactinfo {
	padding-right: 120px;
}

#contactinfo2 {
	padding-left: 25px;
}

#contactinfo:link, #contactinfo2:link {
    text-decoration: none;
	color: #fff8dc; 
}

#contactinfo:hover, #contactinfo2:hover {
	text-decoration: underline;
}

#contactinfo:visited, #contactinfo:active, #contactinfo2:visited, #contactinfo2:active {
    color: #f1d930;
}

#logofoot {
	float: left;
}